main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    margin: 40px 0 ;
}
.containerAll{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* DateBar */
.container_top{ 
    width: 1200px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 120px 72px repeat(7,1fr);
    grid-template-rows: 80px ;
    grid-template-areas: "p1 p2 p3 p4 p5 p6 p7 p8 p9";
}
.container_top>div,
.container_cities>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    white-space: pre;
    text-align: center;
    border-radius: 5px;
}
.container_top>div{
    color: white;
    background-color: #767522;
}
.container_cities{ 
    margin-top: 5px;
    width: 1200px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 120px 72px repeat(7,1fr);
    grid-auto-rows: 80px ;
    grid-template-areas: 
                        "city day 0 2 4 6 8 10 12"
                        "city night 1 3 5 7 9 11 13"
                        "city UVI U1 U2 U3 U4 U5 U6 U7";
}
/* sideBar */
.city{
    grid-area: city;
    background-color: #767522;
    color: white;
}
.day{
    grid-area: day;
    background-color: #767522;
    color: white;
}
.night{
    grid-area: night;
    background-color: #767522;
    color: white;
}
.UVI{
    grid-area: UVI;
    background-color: #767522;
    color: white;
}
/* weatherData for each city*/
.oneday{
    background-color: #FFF8F0;
    color: gray;
}
.UVIdiv{
    background-color: #FFF8F0;
    color: white;
}
.UVIindex{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    box-shadow: 5px 5px 2px rgba(46, 45, 45, 0.125);
}
@media (max-width:1200px){
    .containerAll{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container_top{ 
            margin: 20px 5px 0 0 ;
            width: 15%;
            grid-auto-flow:column;
            grid-template-rows: 120px 72px repeat(7,80px);
            grid-template-columns: 100%;
        }
    .container_cities{ 
            width: 80%;
            margin: 20px 0 0 5px;
            grid-template-rows: 120px 72px repeat(7,80px);
            grid-template-columns: repeat(3,1fr) ;
            grid-template-areas: "city city city"
                                "day night UVI"
                                "1 2 3"
                                "4 5 6 "
                                "7 8 9"
                                "10 11 12"
                                "13 14 15"
                                "16 17 18"
                                "19 20 21"
        }
}



