body{
    margin:0;
}
/* Navigation bar css styles */
nav-bar {
    /* Additional Color/White */
    background: #767522;
    height: 54px;
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    /*let items of next level display horizontally*/
    align-items: center;
    justify-content: center;
}

nav-bar > .frame {
    flex: none;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 34px;
    position: relative;
}

nav-bar >.frame > .left {
    flex: none;
    position: absolute;
    height: 50px;
    width:130px;
    left: 0px;
    margin:5px 0 5px 0;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: content-box;


    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal; 
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    /* Primary Color/Cyan 70 */
    color: #FFF8F0;
}
nav-bar > .frame > .left:hover{
    background: #9DD9D2;
}

nav-bar> .frame > .right {
    /* Auto layout */
    display: flex;
    flex: none;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    height: 34px;
    right: 0px;
}
nav-bar > .frame > .right > .right-item {
    flex: none;
    text-align: center;

    height: 24px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-sizing: content-box;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;

    /* Secondary Color/Gray 70 */
    color: #FFF8F0;
    cursor: pointer;
}
nav-bar>.frame>.right>.right-item:hover{
    background:#9DD9D2;
}

nav-bar>.frame>.dropdown>.hamberg-container {
    flex: none;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}
nav-bar>.frame>.dropdown>.hamberg-container>div {
    width: 34px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
}

nav-bar>.frame>.dropdown {
    display: none;
    flex: none;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 175px;
    right: 0px;

}

nav-bar>.frame>.dropdown>.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 34px;
}

nav-bar>.frame>.dropdown>.dropdown-content> div {
    float: none;
    display: block;
    text-align: center;

    width:130px;
    height: 25px;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
nav-bar>.frame>.dropdown>.dropdown-content>div:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
nav-bar>.frame>.dropdown:hover>.dropdown-content {
    display: block;
}
@media screen and (max-width: 400px) {

    nav-bar>.frame>.right {
        display: none;
    }

    nav-bar>.frame>.dropdown{
        display: flex;
    }
}